/* MIX */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
.in_bl {
  display: inline-block;
}
/* .h_50 {
  height: 50%;
} */
.h_70 {
  height: 70px;
}
.lg_grey {
  background-color: #EAEAEA;
}
.color_grey {
  color: #B1B1B1;
}
.none {
  display:none;
}
/* wrapper di sfondo */
.wrapper {
  height: 100vh;
  width: 100%;
}
.wrapper::before {
  content: "";
  border-top: 100px solid #009688;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
}
/* /wrapper di sfondo */

/* Div contenitore chat */
.container {
  height: 95vh;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  display: flex;
}
/* Blocco di sx */
.col-left {
  width: 40%;
  height: 100%;
  background-color: blue;
}
/* Profilo */
.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.personal-image {
  height: 100%;
}
.personal-image img {
  height: 100%;
  border-radius: 50px;
  padding: 5px;
}
.icons {
}
.icons i {
  padding: 0 5px;
}
.icons i:last-child {
  padding-right: 20px;
}
/* /Profilo */
/* Notifiche */
.notice {
  width: 100%;
  background-color: #8EDAFC;
  padding: 15px;
  display: flex;
  align-items: center;
}
.bell {
  color: #8EDAFC;
  background-color: #fff;
  border-radius: 50%;
}
.bell i {
  font-size: 18px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  line-height: 45px;
  text-align: center;
}
.active {
  float: left;
  padding-left: 5px;
}
.active h4 {
  font-size: 16px;
}
.active p {
  font-size: 14px;
  text-decoration: underline;
  color: #A9A9A9;
}
/* /Notifiche */
/* Cerca */
.search {
  height: 40px;
  width: 100%;
  background-color: #E5DDD5;
  position: relative;
}
.bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 75%;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.bar i {
  width: 25%;
  color: #A9A9A9;
  text-align: center;
  line-height: 30px;
  border-right: 1px solid #A9A9A9;
}
.bar p {
  color: #A9A9A9;
  width: 75%;
  padding-left: 10px;
  font-size: 14px;
}
/* /Cerca */
/* Singole chat */
.chat-list {
  height: calc(100% - 180px);
  width: 100%;
  background-color: #fff;
  overflow: auto;
}
.resume {
  list-style: none;
}
li.person {
  width: 100%;
  padding: 3px 5px;
  display: flex;
  align-items: center;
}
.person img {
  height: 100%;
}
.person.personal-image {
  padding-right: 5px;
}
.small-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}
.small-wrapper p {
  font-size: 14px;
  padding-top: 3px;
}
.time {
margin-left:auto;
}
/* /Singole chat */
/* /Blocco di sx */

/* Blocco di destra */
.col-right {
  width: 60%;
  height: 100%;
}
/* Info chat in corso: nome, img, accesso */
.col-right .profile .small-wrapper {
  align-items: center;
}
.col-right .profile .small-wrapper .icons {
  font-size: 20px;
}
/* /Info chat in corso: nome, img, accesso */

/* Contenuto chat in corso: nome, img, accesso */
.single-chat {
  height: calc(100% - 140px);
  background-image: url(../img/mine.jpg);
  background-repeat: repeat;
}

/* /Contenuto chat in corso: nome, img, accesso */
/* Inserimento testo */
.text {
  background-color: #E5DDD5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.insert_text {
  width: 80%;
  height: 70%;
}
.insert_text input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}
.text i {
  font-size: 24px;
}
/* /Inserimento testo */
